.subheading {
    font-size: 1.5rem;
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    .desktopOnly {
        display: none;
    }
    .centerText {
        text-align: center;
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.heading {
    margin-top: 12px;
}