<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <img height="300" src="../assets/brojeff.PNG">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h1 class="display-4">Jeff Nippard's Card Workout</h1>
            <p class="subheading">
                This is a small app the simulates the Card Workout created by Jeff Nippard. <br>
                Check out his youtube video <a href="https://www.youtube.com/watch?v=WLrkT4F7tEc" target="_blank">here!</a>
            </p>
        </div>
        <div class="desktopOnly col-lg-4 col-md-3">
            <img height="300" src="../assets/jeff.PNG">
        </div>
    </div>
</div>

<main></main>