<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Card Workout!
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="numCards">Number of cards</label>
                        <input type="number" class="form-control" id="numCards" [(ngModel)]="numCards">
                    </div>
                    <button href="#" class="btn btn-primary" (click)="createCards()">Submit</button>
                    <button style="margin-left: 1em" href="#" class="btn btn-danger" (click)="resetCards()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="workoutDeck && showCards" class="container">
    <div class="row">
        <!-- Previous card -->
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Previous Card
              </div>
        </div>
        <!-- Current card -->
        <div class="col">
            <div class="alert alert-success" role="alert">
                Current Card
              </div>
        </div>
        <!-- Exercise info -->
        <div class="col">
            <div class="alert alert-success" role="alert">
                Current Exercise
              </div>
        </div>
    </div>
    <div class="row">
        <!-- Previous card -->
        <div class="col center">
            <card *ngIf="previousCardNumber > -1" class="" [number]="workoutDeck[previousCardNumber].value" [suit]="workoutDeck[previousCardNumber].suit"
                (cardEmitter)="displayExercise()" (click)="decrementCardCounter()"></card>
        </div>
        <!-- Current card -->
        <div class="col center">
            <card *ngIf="currentCardNumber < workoutDeck.length" class="" [number]="workoutDeck[currentCardNumber].value" 
                [suit]="workoutDeck[currentCardNumber].suit" (click)="incrementCardCounter()"></card>
        </div>
        <!-- Exercise info -->
        <div class="col center">
            <div *ngIf="exercise && reps" class="card sticky-card">
                <div class="card-body">
                    <h5 class="card-title">{{exercise}}</h5>
                    <p class="card-text">{{reps}} reps</p>
                </div>
            </div>
        </div>
    </div>
</div>