.container {
    margin-top: 2em;
}

.alert {
    text-align: center;
}

.center {
    display: block;
    text-align: center;    
}
.sticky-card {
    max-height: 50%;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .sticky-card {
        max-height: 65%;
        width: 100%;
        margin-bottom: 36px;
    }
}